<!doctype html>

<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
{{#extraHeader}}
    {{{.}}}
{{/extraHeader}}
    <script type="application/ld+json">
           {{{datastr}}}


    </script>
{{#data}}
        <title>{{foaf:name}}</title>
        <link rel="stylesheet" href="https://openfooddata.github.io/actors/css/foundation.min.css"/>
        <link rel="canonical" href="{{@id}}"/>
    </head>
    <body>

    <!-- Start Top Bar -->
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text">Open Food Data Actors</li>
                <li><a href="https://openfooddata.github.io/actors/list0.html">List</a></li>
                <li><a href="https://openfooddata.github.io/actors/map.html">Map</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li><a href="http://openfooddata.github.io/">Main OFD Page</a></li>
                <li><a href="https://github.com/openfooddata/actors">GitHub</a></li>
                <li><a href="https://w3id.org/openfooddata/onto/core">OFD Ontology</a></li>
                <li><a href="https://github.com/openfooddata/vocab">OFD Vocabs</a></li>
            </ul>
        </div>
    </div>
    <!-- End Top Bar -->

    <div class="callout large">
        <div class="row column text-center">
            <h1>{{foaf:name}}</h1>
            <p class="lead">{{schema:disambiguatingDescription}}</p>
        </div>
    </div>

    <div class="row">
        <div class="medium-6 columns medium-push-6">
            <img class="thumbnail" src="{{schema:logo}}">
        </div>
        <div class="medium-6 columns medium-pull-6">
            <h5>{{@id}}</h5>
            <p>{{schema:description}}</p>
            <hr>
            <div class="row columns">Website:</div> {{#schema:url}}
            <div class="row columns"><a href="{{.}}" target="_blank">{{.}}</a></div>
        {{/schema:url}}
        </div>
    </div>
    <hr>
    <div class="row columns"><h3>Contact Details</h3></div>
    <div class="row">

    {{#schema:geo}}
            <div class="medium-6 columns">
                {{#schema:address}}
                    <div class="row columns">{{schema:streetAddress}} {{schema:addressLocality}} {{schema:postalCode}}</div>
                {{/schema:address}}
                <div class="row columns">{{schema:addressCountry}}</div>
                <hr>
                <div class="row columns">{{schema:telephone}}</div>
                <div class="row columns"><a href="mailto:{{schema:email}}">{{schema:email}}</a></div>
            </div>
            <div class="medium-6 columns">
                <div class="row columns">
                    <a href="https://www.openstreetmap.org/search?query={{schema:latitude}},{{schema:longitude}}"
                       target="_blank">
                        map: ({{schema:latitude}},{{schema:longitude}})</a>
                </div>
                <div class="row columns">
                    <img src="http://staticmap.openstreetmap.de/staticmap.php?center={{schema:latitude}},{{schema:longitude}}&zoom=10&size=256x256&maptype=mapnik&markers={{schema:latitude}},{{schema:longitude}}"/>
                </div>

            </div>
        </div>
    {{/schema:geo}}
    </div>
    <hr>
    <div class="row">
        <div class="medium-6 columns">
            <h3>Actor Type</h3>
            <ul>
                {{#ofd:actorType}}
                    <li><a class="actortype" href="#">{{.}}</a></li>
                {{/ofd:actorType}}
            </ul>
        </div>
        <div class="medium-6 columns">
            <h3>Types of Food</h3>
            <ul>
                {{#ofd:offersFoodType}}
                    <li><a class="foodtype" href="#">{{.}}</a></li>
                {{/ofd:offersFoodType}}
            </ul>
        </div>
    </div>

    <hr>

    <div class="row column">
        <h3>Sources</h3>
    </div>

    <div class="row medium-up-3 large-up-4">
        {{#ofd:upstreamRel}}
            <div class="column">
                <li><a class="relatedActor" href="{{ofd:relatedActor}}">{{ofd:relatedActor}}</a>
                    (<span class="relatedContext">{{ofd:relatedContext}}</span>)
                </li>
            </div>
        {{/ofd:upstreamRel}}
    </div>

    <hr>

    <div class="row column">
        <h3>Distributors</h3>
    </div>

    <div class="row medium-up-3 large-up-4">
        {{#ofd:downstreamRel}}
            <div class="column">
                <li><a class="relatedActor" href="{{ofd:relatedActor}}">{{ofd:relatedActor}}</a>
                    (<span class="relatedContext">{{ofd:relatedContext}}</span>)
                </li>
            </div>
        {{/ofd:downstreamRel}}
    </div>

    <hr>
    <div class="row column">
        <h3>Primary Topic Of</h3>
    </div>
    <div class="row">
        {{#foaf:isPrimaryTopicOf}}
            <div class="column">
                <li><a href="{{.}}" target="_blank">{{.}}</a></li>
            </div>
        {{/foaf:isPrimaryTopicOf}}
    </div>

    <hr>

    <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="https://openfooddata.github.io/actors/js/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>
    <script src="https://openfooddata.github.io/actors/js/adr.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-102767097-1', 'auto');
        ga('send', 'pageview');

    </script>
    </body>
    </html>
{{/data}}

